body{
    background-color: #000; /** la couleur de la page est noire **/
    color: #fff; /** la couleur de la div terrain est blanche **/
    font-family: monospace; /** police monospace appliquée au texte contenu dans le body **/

    /** permet de centrer les éléments dans la page **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#terrain{
    position : relative;
    border: 1px solid #000; /** solid permet de faire apparaitre la bordure qui ne serait que fictive sinon, soit, invisible **/
    border-top-color: #fff; /** le bord supérieur du terrain devient blanc **/
    border-bottom-color: #fff; /** le bord inéfrieur du terrain devient blanc **/
    width : 800px; /** largeur du terrain **/
    height: 400px; /** hauteur du terrain **/

}

#balle{
    position : absolute;
    top: 50%; /** place la balle au centre du terrain avec top et left; c'est possible car la div balle est dans la div terrain **/
    left:50%;

    width: 20px; /** largeur du carré **/
    height:20px; /** hauteur du carré **/
    background-color: white; /** couleur de fond de la balle **/
    border-radius:100%; /** permet d'arrondir les angles du carré pour avoir une balle parfaitement ronde **/
}

.raquette{
    position : absolute;
    background-color : white;
    width : 10px;
    height : 100px;
    top:10%;
}

#raquetteG{
    left : 10%;
}

#raquetteD{
    right : 10%;
}

/**.score{
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:var(--couleur-elements);
    opacity: 0.2;
    transition: color 0.5s;
}
#scoreD{
    left:50%;
}**/

.score {
    /**Propriétés communes au score**/
        display: flex;
        padding-top: 20%;
        text-align: center;
        font-size: 30px;
    }
    
#Sgauche {
    /**Différenciation du score gauche**/
    padding-left: 25%;
    float: left;
    color: blue;
  }
    
#Sdroite {
     /**Différenciation du score droite**/
     padding-right: 25%;
     float: right;
     color: green;
  }

.ecran-debut{
    transition: all 3s;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.ecran-debut>*{
    margin: 10px;
}
.ecran-debut .touche{
    display: inline-flex;
    transform: rotate(0deg) !important;
}

/* disparition de l'écran de début */
.ecran-debut{
    transition: all 2s;
    transition-duration: 1s;
    will-change: opacity, filter;
    opacity: 1;
    filter: blur(0px);
}
.invisible{
    display: none;
}
.btn{
    box-shadow: 0px 10px 14px -7px #e673be;
	background:linear-gradient(to bottom, #e673be 5%, #e673be 100%);
	background-color:#e673be;
	border-radius:4px;
	border:1px solid #e673be;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e673be;
}



/** les boutons qui symbolisent les touches du clavier **/
.touche{
    color: var(--couleur-on-sait-pas-trop);
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--couleur-on-sait-pas-trop-foncee);
    border-radius: 4px;
    user-select:none;
}