body{
    background-color: #000; /** la couleur de la page est noire **/
    color: #fff; /** la couleur de la div terrain est blanche **/
    font-family: monospace; /** police monospace appliquée au texte contenu dans le body **/

    /** permet de centrer les éléments dans la page **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#terrain{
    position : relative;
    border: 1px solid #000; /** solid permet de faire apparaitre la bordure qui ne serait que fictive sinon, soit, invisible **/
    border-top-color: #fff; /** le bord supérieur du terrain devient blanc **/
    border-bottom-color: #fff; /** le bord inéfrieur du terrain devient blanc **/
    width : 800px; /** largeur du terrain **/
    height: 400px; /** hauteur du terrain **/

}

.raquette{
    position : absolute;
    background-color : white;
    width : 10px;
    height : 100px;
    top:10%;
}

#raquetteG{
    left : 5%;
}

#raquetteD{
    right : 5%;
}